
body{background-color: #721486;}
a:hover {text-decoration:none;}
header img{width: 100%;}
.party_one{height: 150px;margin:10px 0;}
.party_one .party_one_discount{height: 150px;padding: 0;}
.party_one .party_one_discount .frame{height: 150px;background-color: #8f31a3;border-radius: 4px;margin: 0 10px 10px 10px;}
.party_one .party_one_discount img{height: 100%;border-radius: 4px;}

.party_one .party_one_2{padding: 0;height: 150px;}
.party_one .party_one_2 .frame2,.party_one .party_one_2 .frame3{background-color: #8f31a3;border-radius: 4px;margin-right:10px;height: 70px; }
.party_one .party_one_2 .frame2 a img,.party_one .party_one_2 .frame3 a img{height: 100%;border-radius: 4px; }
.party_one .party_one_2 .frame3{margin-top:10px; }


.party_two{background-color: #8f31a3;margin: 10px;border-radius: 4px;}
.party_two ul{padding: 0;margin: 0;}
.party_two ul li{list-style: none;width: 25%;float: left;padding: 3px;}
.party_two ul li h5{color: #ffffff;}
.party_two ul li img{padding:4px;}

.party_three{background-color: #8f31a3;margin: 10px;border-radius: 4px;}
.party_three img{width: 100%;}

.party_four{}
.party_four .party_four_money{padding:0;}
.party_four .party_four_frame1,.party_four .party_four_frame2{padding:0;background-color: #8f31a3;border-radius: 4px;}
.party_four .party_four_frame1{margin-left: 10px;margin-right: 5px;}
.party_four .party_four_frame2{margin-left: 5px;margin-right: 10px;}


footer{}

footer img{width: 100%;}